.light {
    background: #FFF;
    margin-right: auto;
    height: 100%;
    width: 100%;
    max-width: 85%;
    max-height: 80%;
    position: relative ;
    object-fit: cover;
    object-position: center;
    filter: drop-shadow(7.5px 8.5px 12px #000);
    border-radius: 5%;
    min-width: 85%;
}
@media screen and (min-width: 900px) {
	.light {
        background: rgb(129, 35, 35);
        margin-right: auto;
        height: 100%;
        width: 100%;
        max-width: 95%;
        max-height: 80%;
        position: relative ;
        object-fit: cover;
        object-position: center;
        filter: drop-shadow(7.5px 8.5px 12px #000);
        border-radius: 5%;
    }
}