.red-logo {
    display: absolute;
    background: #FFF;
    margin-right: auto;
    margin-top: 15px;
    height: 100%;
    width: 100%;
    max-width: 90%;
    max-height: 80%;
    padding: 0 ​0 5px 25px;
}